<a href="https://colab.research.google.com/github/nalinis07/APT_Class_Copy_Links/blob/MASTER/AT_Lesson_68_Class_Copy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lesson 68: Car Price Prediction - Feature Encoding

### Teacher-Student Activities

In this class, you will learn to extract numeric values form non-numeric categorical columns using the one-hot encoding and dummy coding processes. You will also learn to calculate the adjusted R-squared value to evaluate a linear regression model.

Let's quickly run the codes covered in the previous classes and begin this session from **Activity 1: Feature Encoding** section.

---

### Problem Statement

Build a linear regression model to predict prices of cars based on its technical specifications such as car manufacturer, its engine capacity, fuel efficiency, body-type etc.

**Dataset Description:**

The dataset contains 205 rows and 26 columns. Each column represents an attribute of a car as described in the table below.

|Sr No.|Attribute|Attribute Information|
|-|-|-|
|1|Car_ID|Unique id of each car (Interger)|
|2|Symboling|Assigned insurance risk rating; a value of +3 indicates that the car is risky; -3 suggests that it is probably a safe car (Categorical)|
|3|carCompany|Name of car company (Categorical)|
|4|fueltype| fuel-type i.e. petrol or diesel (Categorical)|
|5|aspiration|Aspiration used in a car (Categorical)|
|6|doornumber|Number of doors in a car (Categorical)|
|7|carbody|Body-type of a car (Categorical)|
|8|drivewheel|Type of drive wheel (Categorical)|
|9|enginelocation|Location of car engine (Categorical)|
|10|wheelbase|Weelbase of car (Numeric)|
|11|carlength|Length of car (Numeric)|
|12|carwidth|Width of car (Numeric)|
|13|carheight|Height of car (Numeric)|
|14|curbweight|The weight of a car without occupants or baggage (Numeric)|
|15|enginetype|Type of engine (Categorical)|
|16|cylindernumber|Number of cylinders placed in the car engine (Categorical)||17|enginesize|Capacity of an engine (Numeric)|
|18|fuelsystem|Fuel system of a car (Categorical)|
|19|boreratio|Bore ratio of car (Numeric)|
|20|stroke|Stroke or volume inside the engine (Numeric)|
|21|compressionratio|Compression ratio of an engine (Numeric)|
|22|horsepower|Power output of an engine (Numeric)|
|23|peakrpm|Peak revolutions per minute (Numeric)|
|24|citympg|Mileage in city (Numeric)|
|25|highwaympg|Mileage on highway (Numeric)|
|26|price(Dependent variable)|Price of a car (Numeric)|

This data set consists of three types of entities:

- the specification of an auto in terms of various characteristics,

- its assigned insurance risk rating,

- its normalised losses in use as compared to other cars.

The second rating corresponds to the degree to which the auto is more risky than its price indicates. Cars are initially assigned a risk factor symbol associated with its price. Then, if it is more risky (or less), this symbol is adjusted by moving it up (or down) the scale. Actuarians call this process **symboling**. A value of $+3$ indicates that the auto is risky, $-3$ that it is probably pretty safe.

The third factor is the relative average loss payment per insured vehicle year. This value is normalized for all autos within a particular size classification (two-door small, station wagons, sports/speciality etc.), and represents the average loss per car per year.

**Note:** Several of the attributes in the database could be used as a "class" attribute.

**Dataset source:** https://archive.ics.uci.edu/ml/datasets/Automobile


The above dataset consists of data taken from 1985 Ward's Automotive Yearbook. Here's the list of original sources of the data:

1. 1985 Model Import Car and Truck Specifications, 1985 Ward's Automotive Yearbook.

2. Personal Auto Manuals, Insurance Services Office, 160 Water Street, New York, NY 10038

3. Insurance Collision Report, Insurance Institute for Highway Safety, Watergate 600, Washington, DC 20037

---

#### Importing Modules & Reading Data

https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/whitehat-ds-datasets/car-prices.csv

In [ ]:
# Import the modules, read the dataset and create a Pandas DataFrame.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Read the dataset
cars_df = pd.read_csv("https://s3-student-datasets-bucket.whjr.online/whitehat-ds-datasets/car-prices.csv")
cars_df.head()

In [ ]:
# Get the information on the dataset.
cars_df.info()

There are 0 missing or null values in the dataset. Also, a lot of features have non-numeric values.

---

#### Data Cleaning

Extract the name of the manufacturer from the column `CarName`.

In [ ]:
# Display the first 25 rows of the 'CarName' column.
cars_df['CarName'].head(25)

The name of a car follows the name of its manufacturer as illustrated below:

- `alfa-romero` is the manufacturer of `giulia, stelvio` etc cars,

- `audi` is the manufacturer of `100 ls, fox` etc cars,

- `bmw` is the manufacturer of `x1, x3` etc cars

and so on.

In [ ]:
# Extract the name of the manufactures from the car names and display the first 25 cars to verify whether names are extracted successfully.
car_companies = pd.Series([car.split(" ")[0] for car in cars_df['CarName']], index = cars_df.index)
car_companies.head(25)

Add a new column to the `cars_df` DataFrame that stores the company names.

In [ ]:
# Create a new column named 'car_company'. It should store the company names of a the cars.
cars_df['car_company'] = car_companies
cars_df.head()

In [ ]:
# Get the count of number of the cars sold by each manufacturer in the dataset.
cars_df['car_company'].value_counts()

The following manufacturer names are misspelled or not regularised (follows the same case i.e. uppper case or lower case or title case):

- `vw` and `vokswagen` should be `volkswagen`,

- `porcshce` should be `porsche`,

- `toyouta` should be `toyota`,

- `Nissan` should be `nissan`,

- `maxda` should be `mazda`

In [ ]:
# Replace the misspelled 'car_company' names with their correct names.

# volkswagen
cars_df.loc[(cars_df['car_company'] == "vw") | (cars_df['car_company'] == "vokswagen"), 'car_company'] = 'volkswagen'

# porsche
cars_df.loc[cars_df['car_company'] == "porcshce", 'car_company'] = 'porsche'

# toyota
cars_df.loc[cars_df['car_company'] == "toyouta", 'car_company'] = 'toyota'

# nissan
cars_df.loc[cars_df['car_company'] == "Nissan", 'car_company'] = 'nissan'

# mazda
cars_df.loc[cars_df['car_company'] == "maxda", 'car_company'] = 'mazda'

In [ ]:
# Get the count of number of the cars sold by each manufacturer in the dataset again.
cars_df['car_company'].value_counts()

Drop the `'CarName'` column as it is of no use.

In [ ]:
# Drop 'CarName' column from the 'cars_df' DataFrame.
cars_df.drop(columns= ['CarName'], axis = 1, inplace = True)

---

#### Data Preparation

Extract all the numeric features from the `cars_df` DataFrame.

In [ ]:
# Extract all the numeric (float and int type) columns from the dataset.
cars_numeric_df = cars_df.select_dtypes(include = ['int64', 'float64'])
cars_numeric_df.head()

In [ ]:
# Drop the 'car_ID' column from the 'cars_numeric_df' DataFrame.
cars_numeric_df.drop(columns = ['car_ID'], axis = 1, inplace = True)
cars_numeric_df.head()

In [ ]:
# Draw a correlation heatmap between the numeric features.
plt.figure(figsize = (12, 5), dpi = 96)
sns.heatmap(cars_numeric_df.corr(), annot=True)
plt.show()

The heatmap shows some useful insights:

**Correlation of `price` with independent variables**

- `price` is highly and positively correlated with `wheelbase, carlength, carwidth, curbweight, enginesize` and `horsepower`

- `price` is negatively correlated to `citympg` and `highwaympg` (`-0.70` approximately). This suggest that cars having high mileage may fall in the 'economy' cars category, and are priced lower. These cars are designed to be affordable by the budget buyers who value more fuel efficiency mileage over powerful engine

**Correlation among independent variables**

- Many independent variables are highly correlated (top-left part of the heatmap) such as `wheelbase, carlength, curbweight, enginesize` etc. They are all measures of size and weight and are positively correlated

In [ ]:
# Get the first five rows of the 'doornumber' and 'cylindernumber' columns.
cars_df[['doornumber', 'cylindernumber']].head(5)

Notice that the `doornumber` and `cylindernumber` columns are supposed to have numeric type values. But the numbers are reported in the words. So, you need to replace these words with the corresponding numbers.

In [ ]:
# Count the occurrence of each value in the 'cylindernumber' column.
cars_df['cylindernumber'].value_counts()

In [ ]:
# Count the occurrence of each value in the 'doornumber' column.
cars_df['doornumber'].value_counts()

---

#### The `map()` Function

A map function is similar to a match the column exercise. You have a match one set of values with the other set of values.

Here you need to map:

- `two` to `2`

- `three` to `3`

- `four` to `4`

- `five` to `5`

- `six` to `6`

- `eight` to `8`

- `twelve` to `12`

To do the above replacement,

1. First, you need to create a dictionary in which the words are keys and their corresponding numeric representations are the values.

2. Apply the `map()` function. It takes the dictionary created in step one as an input.

In [ ]:
# Map the values of the 'doornumber' and 'cylindernumber' columns to their corresponding numeric values.
words_dict = {"two": 2, "three": 3, "four": 4, "five": 5, "six": 6, "eight": 8, "twelve": 12}
def num_map(series):
    return series.map(words_dict)

# Applying the function to the two columns
cars_df[['cylindernumber', 'doornumber']] = cars_df[['cylindernumber', 'doornumber']].apply(num_map, axis = 1)

In [ ]:
# Display the first five rows of the 'cylindernumber' and 'doornumber' columns. Also, check whether the data-types are integer or not.
print(cars_df[['cylindernumber', 'doornumber']].head())
print(cars_df[['cylindernumber', 'doornumber']].info())

---

#### Activity 1: Feature Encoding

To build a linear regression, all the features need to have numeric values. However, a few features in this dataset, have non-numeric values. Their data-type is `object`. You need to obtain numeric values from these non-numeric values. This can be done by following the feature encoding steps.

Let's understand this concept with the help of an example. Let's consider the `carbody` column in the `cars_df` DataFrame.

In [ ]:
# S1.1: Get the counts of each of the values in the 'carbody' column.

For the `carbody` feature, there are five different types of values

- `sedan`

- `hatchback`

- `wagon`

- `hardtop`

- `convertible`

For each of the above values, you can add columns into your DataFrame such that each column has either `0` or `1` as its value. Eg., for the `sedan` value, you add a column named `sedan`. And if the car is a sedan, then the value in the `sedan` column will be `1` otherwise, it will be `0`. You can do this using the `get_dummies()` function of the Pandas module.

**Syntax:** `pandas.get_dummies(categorical_column, dtype = data_type)`

where

- `categorical_column` is the column having non-numeric categorical values

- `data_type` of the values in the newly added columns.

In [ ]:
# T1.1: Create dummy variables for the 'carbody' columns.

As you can see, the output is a DataFrame containing five columns.

The first two cars (first two rows) are convertibles. Hence, the values in the `convertible` columns are `1` and in the other 4 columns are `0`. Similarly, the third car (third row) is a hatchback. Hence, the value in the `hatchback` column is `1` and in the other 4 columns are `0`.

These newly added columns are called **dummy variables (or columns)**. Let's check whether the data-types for these dummy columns is integer or not.

In [ ]:
# S1.2: Check whether the data-types for these dummy columns is integer or not.

In the above process, for each categorical value (i.e., `convertible,	hardtop, hatchback, sedan, wagon`) we added a new column. This process of obtaining numeric values from non-numeric categorical values is called **one-hot enconding**.

Here for 5 categorical values, we added 5 new dummy columns. In general, for $n$ categorical values in a column, we can add $n$ new dummy columns.

We can do the same thing with one less column i.e. for $n$ categorical values, we can add only $n - 1$ columns to convey the same information. To have a one column less, pass `drop_first = True` as another input to the `get_dummies()` function of the Pandas module.

In [ ]:
# S1.3: Create dummy variables for the 'carbody' columns with 1 column less.

In the above DataFrame having dummy variabes, we have 4 columns i.e. `hardtop, hatchback, sedan` and `wagon`.

For the first two cars (first two rows) the values in the other 4 columns are `0`. This means the car is convertible. Similarly, for the third car (third row) the value in the `hatchback` column is `1` and in the other 3 columns are `0`. This means the car is a hatchback.

This process of having one less dummy variable by encoding non-numeric categorical values to numeric values is called **dummy coding**. The naming convention is strange so just focus on the part that how  you can encode (or code) non-numeric categorical values into numeric values.

In the same, you can encode all the other columns having categorical values to get numeric values.

In [ ]:
# S1.4: Create a DataFrame containing all the non-numeric type features.

For the above `object` or categorical columns, get the dummy variables using the **dummy coding** process.

In [ ]:
# S1.5: Get dummy variables for all the categorical type columns using the dummy coding process.

Now that we have dummy variables, we don't need the original non-numeric type columns in the `cars_df` DataFrame. So let's remove the original non-numeric type columns from the `cards_df` DataFrame and then concatenate it with the above DataFrame containing only numeric values for the non-numeric type columns.

In [ ]:
# S1.6: Drop the categorical type columns from the 'cars_df' DataFrame.

Now, let's concatenate the `cars_df` and `cars_dummies_df` DataFrames

In [ ]:
# S1.7: Concatenate the 'cars_df' and 'cars_dummies_df' DataFrames.

Let's drop the `car_ID` column from the `cars_df` DataFrame. We don't need it to build a linear regression model.

In [ ]:
# S1.8: Drop the 'car_ID' column

Let's verify whether all the columns have numeric values or not and also find out the number of columns we have after creating dummy variables.

In [ ]:
# S1.9: Get the data-types of all the columns and the number of rows and columns in the 'cars_df' DataFrame.

Now, we have 60 columns and all of them have numeric type values.

---

#### Activity 2: Train-Test Split

In order to build multiple linear regression model, you first need to have separate train and test sets. So, let's split the `cars_df` DataFrame to obtain them.

In [ ]:
# S2.1: Split the 'cars_df' Dataframe into the train and test sets.

Now let's create separate data-frames for the feature and target variables for both the train and test sets.

In [ ]:
# S2.2: Create separate data-frames for the feature and target variables for both the train and test sets.

---

#### Activity 3: Feature Scaling

Let's look the first five rows to see the scale of the values in each column in the `train_df` DataFrame.

In [ ]:
# S3.1: Display the first five rows of the features in the train set.

In [ ]:
# S3.2: Display the first five rows of the features in the test set.

You can see that a few of the columns such as `carlength, curbweight` etc have large values. So, let's scale them using the standard normalisation method i.e.

$$Z_i = \frac{x_i - \mu}{\sigma}$$

So let's normalise only the numeric columns and not the dummy ones.

Also, the scaling has to be done only on the train dataset as you don't want it to learn anything from the test data.

In [ ]:
# S3.3: Normalise the numeric columns.

In [ ]:
# S3.4: Display the first five rows of the features in test set.

---

#### Actitivity 4: Model Building

Now that we have train set with the scaled values, let's build a multiple linear regression model using the `statsmodels.api` module.

In [ ]:
# S4.1: Build a linear regression model using all the features to predict car prices.

Now let's print the summary of the linear regression model built.

In [ ]:
# S4.2: Print the summay of the linear regression report.

The $R^2$ value for the linear regression model is 0.977 or 97.7%

---

#### Activity 5: Adjusted $R^2$

In the case of multiple linear regression, **adjusted $R^2$** value takes precedence over the $R^2$ value. It is calculated as:

$$R^2_{\text{adj}} = 1 - \frac{(1 - R^2)(N - 1)}{N - p - 1}$$

where

- $R^2$ is the coefficient of determination

- $N$ is number of instances (or rows) in the dataset

- $p$ is the number of independent variables (excluding constant) in the dataset

As shown in the summary table, the adjusted $R^2$ value is 0.963. Let's calculate the same using the above formula.


**Note:** You can get the $R^2$ value using the `rsquared` attribute of the `statsmodels.api` module.

In [ ]:
# S5.1: Calculate the adjusted R-square value using the above formula.

**Note:** There is likely to be negligible difference between the adjusted $R^2$ value calculated by the mathematical formula and by the `statsmodels.api` module.

Also, the $R^2_{\text{adj}}$ will always be less than or equatl to the $R^2$ value i.e. $R^2_{\text{adj}} \le R^2$.

**Why adjusted R-squared is a better metric in multiple linear regression?**

As you add more and more independent variables, the $R^2$ squared values increases even if the independent variable has no contribution in predicting the values of the target variable. Hence, the adjusted $R^2$ value penalises the unnecessary inclusion of more independent variables.

So, if adding more independent (or feature) variables leads to an increase in the adjusted $R^2$ value, then it is a good sign. However, if adding more independent (or feature) variables leads to a decrease in the adjusted $R^2$ value, it is a bad sign.

In this case, the $R^2_{\text{adj}}$ is quite high but the p-values for many of the columns is greater than 0.05 which is not a good sign. It means, these variables are insignificant in predicting the price of a car. Also, if we calculate variance inflation factor values for these columns, they would be very very high than 10.

So before we go ahead in solving this project, let's learn the concept of p-value in the next class.

---

### **Project**
You can now attempt the **Applied Tech. Project 68 - Car Price Prediction - Feature Encoding** on your own.

**Applied Tech. Project 68 - Car Price Prediction - Feature Encoding**:

https://colab.research.google.com/drive/1vv9CEg4l3MED0ThlQkbE7swbe79M3TKa



---